<div class="dashboard-title">
  <h2>Blog posts</h2>

  <a href="/auth/add-new-blog" class="addPostButton">+ Add New</a>
</div>

<ul class="dashboard-blogs">
  <% data.forEach(element => { %>
  <li class="dashboard-blog">
    <div>
      <a href="/auth/blog/<%= element._id %>">
        <div>
          <h3><%= element.title %></h3>

          <p class="dashboard-author"><%= element.author %></p>
          <p class="created-date-time">
            <%= element.createdAt.toDateString() %>
          </p>
        </div>
      </a>
    </div>
    <div class="edit-delete-btns">
      <div class="edit">
        <a href="/auth/edit-blog/<%= element._id %>">Edit</a>
      </div>

      <form
        action="/auth/delete-blog/<%= element._id %>?_method=DELETE"
        method="POST"
      >
        <input type="submit" value="Delete" class="delete" />
      </form>
    </div>
  </li>

  <% }) %>
</ul>
