<div class="dashboard-title">
  <% if(error) { %>
  <p class="error-message"><%= error %></p>
  <% }%>
  <h2>Public and Private articles</h2>

  <a href="/admin/add-new-article" class="addPostButton">+ Add New</a>
</div>

<ul class="dashboard-blogs">
  <% data.forEach(element => { %>
  <li class="dashboard-blog">
    <div>
      <a href="/admin/article/<%= element._id %>">
        <div>
          <h3><%= element.title %></h3>

          <p class="dashboard-author"><%= element.author %></p>
          <p class="created-date-time">
            <%= element.createdAt.toDateString() %>
          </p>
        </div>
      </a>
    </div>
    <div class="edit-delete-btns">
      <div class="edit">
        <a href="/admin/edit-article/<%= element._id %>">Edit</a>
      </div>

      <form
        action="/admin/delete-article/<%= element._id %>?_method=DELETE"
        method="POST"
      >
        <input type="submit" value="Delete" class="delete" />
      </form>
    </div>
  </li>
  <div class="list-separator"></div>

  <% }) %>
</ul>
