<form
  class="auth-form"
  action="/admin/edit-article/<%= data.id %>"
  method="POST"
>
  <div class="auth-form-container">
    <div class="auth-form-container-title">
      <h2>Edit Article</h2>

      <div class="flex">
        <p>Public:</p>

        <label class="custom-checkbox">
          <input value="<% if(data.public) { %>true<% } else { %>false<% } %>"
          type="checkbox" name="public" id="public" <%= data.public ? 'checked'
          : '' %> />
          <span class="checkmark"></span>
        </label>
      </div>
    </div>

    <div class="flex-admin-form">
      <div>
        <label for="username">Title *</label>
        <input
          placeholder="type here"
          type="text"
          name="title"
          id="title"
          required
          value="<%= data.title %>"
        />
      </div>

      <div>
        <label for="author">Author *</label>
        <input
          placeholder="type here"
          type="text"
          name="author"
          id="author"
          value="<%= data.author %>"
          required
        />
      </div>
    </div>

    <label for="body">Description *</label>
    <textarea
      placeholder="type here"
      rows="6"
      name="body"
      id="body"
      value="<%= data.body %>"
      required
    >
      <%= data.body %></textarea
    >

    <h3>Optional:</h3>

    <div class="flex-admin-form">
      <div>
        <label for="urlLink">Url:</label>
        <input
          placeholder="type here"
          type="text"
          name="urlLink"
          id="urlLink"
          value="<%= data.urlLink %>"
        />
      </div>

      <div>
        <label for="username">Title url:</label>
        <input
          placeholder="type here"
          type="text"
          name="titleUrl"
          id="titleUrl"
          value="<%= data.titleUrl %>"
        />
      </div>
    </div>

    <% if(error) { %>
    <p class="error-message"><%= error %></p>
    <% }%>

    <button type="submit" class="saveBtn">Save</button>
  </div>
</form>
