<header class="header">
  <div class="header-container">
    <nav>
      <a class="header__logo" href="/">Dev-Blog</a>
    </nav>
    <nav class="nav_links">
      <a href="/" class="<%= isActiveRoute('/', currentRoute) %>">Articles</a>
      <a class="<%= isActiveRoute('/about', currentRoute) %>" href="/about"
        >About</a
      >
      <a class="<%= isActiveRoute('/contact', currentRoute) %>" href="/contact"
        >Contact</a
      >
      <a
        class="<%= isActiveRoute('/admin/dashboard', currentRoute) %>"
        href="/admin/dashboard"
        ><% if (token) { %> Admin <% } else {%>Log in<%} %></a
      >
      <% if(token) { %>

      <a href="/admin/logout"> Log out </a>

      <% } %>
    </nav>

    <!-- HAMBURGER MENU -->
    <div class="hamburger_menu">
      <nav>
        <a href="/" class="<%= isActiveRoute('/', currentRoute) %>">Articles</a>
        <a class="<%= isActiveRoute('/about', currentRoute) %>" href="/about"
          >About</a
        >
        <a
          class="<%= isActiveRoute('/contact', currentRoute) %>"
          href="/contact"
          >Contact</a
        >
        <a
          class="<%= isActiveRoute('/admin/dashboard', currentRoute) %>"
          href="/admin/dashboard"
          ><% if (token) { %> Admin <% } else {%>Log in<%} %></a
        >

        <% if(token) { %>

        <div class="logout__container">
          <a href="/admin/logout">
            <button type="submit" class="logoutBtn" aria-expanded="false">
              Log out
            </button>
          </a>
        </div>

        <% } %>
      </nav>
    </div>

    <div class="flex-container">
      <!-- HAMBURGER MENU -->
      <div class="hamburger">
        <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </div>
      </div>
      <button class="searchBtn">Search</button>
    </div>
  </div>
</header>
