<div class="dashboard-blog">
  <div class="article-posted-container">
    <div>
      <h2><%= post.title %></h2>
      <p class="article-posted-info">Author: <%= post.author %></p>
      <p class="article-posted-info">
        Posted: <%= post.createdAt.toDateString() %>
      </p>

      <p class="article-posted-info">
        Last update: <%= post.updatedAt.toDateString() %>
      </p>
    </div>
  </div>

  <% if(error) { %>
  <p class="error-message"><%= error %></p>
  <% }%>

  <div class="article-separator"></div>

  <p class="article-body"><%- post.body %></p>

  <% if (post.urlLink && post.titleUrl) { %>
  <div class="link-spacer">
    <a class="urlLink" href="<%= post.urlLink %>" target="_blank"
      ><%= post.titleUrl %></a
    >
  </div>
  <div class="article-separator"></div>

  <% } %>
</div>
