<div class="author">
  <h1 class="author__heading">Hi</h1>
  <p class="author__body">I'm a front-end developer</p>
</div>

<img src="/img/web-dev-bg.jpeg" alt="hero-image" class="hero-image" />

<section class="articles">
  <h2 class="articles__heading">Latest Articles</h2>

  <ul class="article-ul">
    <% blogsData?.forEach(post => { %>
    <div>
      <li>
        <a href="/article/<%= post._id %>">
          <div>
            <span><%= post.title %></span>
            <p class="dashboard-author">Author: <%= post.author %></p>
          </div>

          <p class="created-date-time">
            Created date: <%= post.createdAt.toDateString() %>
          </p>
        </a>
        <div class="list-separator"></div>
      </li>
    </div>
    <% }) %>
  </ul>

  <div class="pagination-container">
    <!-- PREV -->

    <% if(currentPage > 1 && prevPage !== null) { %>
    <a href="/?page=<%= prevPage %>" class="pagination"> &lt; Previous page</a>
    <% }else{%>
    <div></div>
    <%} %>

    <!-- NEXT -->
    <% if(hasNextPage) { %>
    <a href="/?page=<%= nextPage %>" class="pagination"> Next page &gt;</a>
    <% }else{%>
    <div></div>
    <%} %>
  </div>
</section>
