<% if (currentPage === 1) { %>
<div class="author">
  <h1 class="author__heading">Hi there :)</h1>

  <p class="author__body">
    { I'm a front-end developer and this is my simple blog website.}
  </p>
</div>
<img
  style="filter: opacity(0.8)"
  src="/img/web-dev-bg.jpeg"
  alt="hero-image"
  class="hero-image"
/>
<% } %> <% if(error) { %>
<p class="error-message"><%= error %></p>
<% }%>

<section class="articles">
  <h2 class="articles__heading">Latest Articles</h2>

  <ul class="article-ul">
    <% if (blogsData.length === 0) { %>
    <div class="no-search-results-found">
      <p>No articles found</p>
    </div>

    <% } %> <% blogsData?.forEach(post => { %>
    <div>
      <li>
        <a href="/article/<%= post._id %>">
          <div>
            <h4><%= post.title %></h4>
            <p class="dashboard-author">Author: <%= post.author %></p>
          </div>
          <div>
            <p class="created-date-time">
              Posted : <%= post.createdAt.toDateString() %>
            </p>
          </div>
        </a>
        <div class="list-separator"></div>
      </li>
    </div>
    <% }) %>
  </ul>

  <div class="pagination-container">
    <!-- PREV -->

    <% if(currentPage > 1 && prevPage !== null) { %>
    <a href="/?page=<%= prevPage %>" class="pagination">
      <p>&#8592; Previous page</p>
      <div class="underline"></div>
    </a>
    <% }else{%>
    <div></div>
    <%} %>

    <!-- NEXT -->
    <% if(hasNextPage) { %>
    <a href="/?page=<%= nextPage %>" class="pagination">
      <p>Next page &#8594;</p>

      <div class="underline"></div>
    </a>

    <% }else{%>
    <div></div>
    <%} %>
  </div>
</section>
