<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- //returns meta from locals object -->
    <title><%= locals.title %></title>
    <meta name="description" content="<%= locals.description %>" />

    <!-- Add CSS and JS importing them from folders -->
    <link rel="stylesheet" href="/css/style.css" />
    <script type="text/javascript" defer src="/js/script.js"></script>

    <!-- defer is used to make sure that the script is executed after the DOM is loaded -->
  </head>
  <body>
    <div class="container">
      <%- include('../partials/header__login.ejs') %>

      <main class="main">
        <!-- //returns body -->
        <%- body %>
        <!-- //returns body -->
      </main>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
